SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_JPA_DATABASE_PLATFORM=

SPRING_PROFILES_ACTIVE=

JWT_SECRET_KEY=
JWT_EXPIRATION=

SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=

BACKEND_HOST=
BACKEND_PREFIX=/api/v1

GOOGLE_CLIENT_ID=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=